body{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    overflow: hidden;
}

.mainContainer{
    width: 90%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.formContainer{
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 40vw;
    align-items: center;
}
form{
    width: 18rem;
}


input{
    border: none;
    border-bottom: 2px solid rgb(152, 164, 160);
    background: none;
    padding: 0.5rem;
    padding: 0.5rem 0 0.5rem 0;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
}

input[type=text]:focus {
    border-bottom: 2.5px solid rgb(59, 220, 203);
    outline: none;
}
input[type=password]:focus {
    border-bottom: 2.5px solid rgb(62, 255, 204);
    outline: none;
}


.headingDiv{
    display: flex;
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    margin: 1rem;
    justify-content: center;
}

.userLogo{
    display: flex;
    justify-content: center;
}
.userImage{
    border-radius: 50%;
    height: 5rem;
}

.headingDiv h4{
    display: inline;
    margin-bottom: 0px;
    margin-top: 0px;
}


.forgotPassword{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 0.7rem;
    float: right;
    color: #999;
}

.btn-1{
    border-radius: 10vh;
    display: block;
    width: 100%;
    border-bottom: none;
    background-color:  rgb(0, 187, 140);
    color: white;
    padding: 0.3rem;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
.btn-1:active{
    background-color:  rgb(0, 187, 140);
    font-size: 1.8rem;
    margin-top: 1.6rem;
}


label {
    font-family: 'Oswald', sans-serif;
    font-size: 0.8rem;
    display: block;
    color: #999;
    transform: translate(0, 5px);
  }

::-webkit-scrollbar{
    display: none;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
}

.btn{
    width: 10rem;
    font-family: 'Poppins', sans-serif;
}
