/* for SignIn page */





/* for the input fields */
.txtInput{
    /* background-color: rgb(181, 184, 184); */
    background: linear-gradient(#e9e8ef, #b3b9c8);
    color: rgb(105, 103, 103);
    display: inline-block;
    margin-bottom: 1rem;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 0.6rem;
    text-align: center;
}

::placeholder{
    color: gray;
}

form{
    margin-top: 2rem;
    justify-content: center;
}

/* for the button*/
.btnInput{
    /* background-color: #198754; */
    background: linear-gradient(#198754 ,  rgb(39, 77, 39));
    color: white;
    width: 40%;
    padding: 0.6rem;
    border: 1px solid gray;
    border-radius: 10px;
}