body{
    margin: 0px;
    background-color: #198754;
}


/* SECTION for login */
.mainContainer{
    float: right;
    display: flex;
    background-color: white;
    width: 60vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


/* login container POSITIONING AND SIZING  */
.loginContainer{
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 40vw;
    align-items: center;
}
form{
    width: 18rem;
}





/* input fields DECORATION  */
.inputContainer {
    position: relative;
    right: -5px;
    box-sizing: border-box;
}
input{
    border: none;
    border-bottom: 2px solid rgb(152, 164, 160);
    background: none;
    padding: 0.5rem 0 0.5rem 0;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
}
label {
    font-family: 'Oswald', sans-serif;
    font-size: 0.8rem;
    display: block;
    color: #999;
    transform: translate(0, 5px);
}


/* font icon  */
i {
    color: #999;
}
.inputContainer i{
    position: absolute;
    left: -15px;
    top: 0rem;
}





/* FOCUS EVENT  */

/* input  */
input[type=text]:focus{
    border-bottom: 2.5px solid rgb(59, 220, 203);
    outline: none;
}
input[type=password]:focus{
    border-bottom: 2.5px solid rgb(62, 255, 204);
    outline: none;
}


/* font icon  */
.inputContainer input:focus + i{
    color: rgb(0, 187, 140);
}




/* USER PHOTO AND HEADING  */

/* photo  */
.userImageContainer{
    display: flex;
    justify-content: center;
}
.userImage{
    border-radius: 50%;
    height: 5rem;
}

/* heading  */
.headingDiv{
    display: flex;
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    margin: 1rem;
    justify-content: center;
}
.headingDiv h4{
    display: inline;
    margin-bottom: 0px;
    margin-top: 0px;
}



/* BUTTON AND FORGOT PASSWORD  */

/* forgot password  */
.forgotPassword{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 0.7rem;
    float: right;
    color: #999;
}


/* button  */
.btn{
    border-radius: 10vh;
    display: block;
    width: 100%;
    border-bottom: none;
    background-color:  rgb(0, 187, 140);
    color: white;
    padding: 0.3rem;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
.btn:active{
    background-color:  rgb(0, 187, 140);
    font-size: 1.8rem;
    margin-top: 1.6rem;
}




